.Rproj.user
.Rhistory
.RData
.Ruserdata

Remint 2/
Remint 3/

Remint 1/Procedura
Remint 1/Corrected data
Remint 1/Data/Raw
Remint 1/Data/Untitled.txt
Remint 1/Data/tbl2.csv

Remint 4/Procedura


*.xlsx
*.html